body{
    background-color: #1b1f20; 
    /*background-color: #1b1f20; */ 
    /*background-color: #3d4351; */
    /*background-color: #222c24; */
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
   
}


.fon{
    background-color: #3d4351;
    border: 1px solid #2AC91C ;
    border-radius: 1px;
    box-shadow:0 0 20px rgb(52, 214, 20);
}

.form-control{
    border: 1px ridge #2E3538;
    border-radius: 1px;
    background-color: #3d4351;
    color: #ffffff;
}


.back-authorization{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

}

.button-ok{
    background-color: #2AC91C;
    color: #ffffff;
    box-shadow: 0 5px 0 #23a817;
    transition: .3s;
}

.button-ok:hover{
    margin: 2px;
    box-shadow: 0 2px 0 #23a817;
}

.link{
    color: #2AC91C; 
    transition: .3s;  
}

.link:hover{
    color: #ffffff;   
}

#blink1 {
    -webkit-animation: blink1 1s linear infinite;
    animation: blink1 3s linear infinite;
  }
  @-webkit-keyframes blink1 {

    100% {  box-shadow:0 0 25px rgb(52, 214, 20); }
  }
  @keyframes blink1 {
    0% {  box-shadow:0 0 25px rgb(52, 214, 20); }
    50% {  box-shadow:0 0 25px rgb(42, 168, 16,0.5); }
    100% { box-shadow:0 0 25px rgb(52, 214, 20); }
    
  }

